
  * {
    font-family: 'Staatliches', sans-serif;
    background-color: white;
  }
  #email, #password {
 margin: 8px;
    border-radius: 50px;
    width: 300px;
    text-align: center;
    
    }
  #loginBtn {
    margin: 8px;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    background-color: black;
    color: white
  }
  #logo {
   width: 300px;
   height: auto;
  }


  
